<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio LLano Grande</title>
</head>
<body>
    <h1>Bienbenido al login</h1>
    <form action="/validar" method="POST">
        <div> 
            <input type="email" name="usuario" placeholder="usuario" >
        </div>
        <div> 
            <input type="password" name="contraseña_usuario" placeholder="contraseña" >
        </div>
        <button type="submit">ingresar</button>
    </form>
</body>
</html>